@using MultiShop.WebUI.Dtos.CatalogDtos.ProductDetailDtos
@model CreateProductDetailDto
@{
	ViewData["Title"] = "CreateProductDetail";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content container-fluid">
	<div class="row">

		<div class="col-md-12">
			<div class="chart-box">
				<h4>Product Detail Creation Page</h4>
				<br />
				<div class="bs-example" data-example-id="bordered-table">

					<form method="post">
						<label>Product</label>
						@Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.Products, new { @style = "padding:0;", @class = "form-control" })
						<br />
						<label>Description</label>
						<textarea class="form-control" asp-for="Description" rows="5"></textarea>
						<br />
						<label>Info</label>
						<textarea class="form-control" asp-for="Info" rows="5"></textarea>
						<br />
						<button class="btn btn-success">Add Product Detail</button>
					</form>

				</div>
			</div>
		</div>
	</div>
</section>
