 <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/OvioAdminTemplate/html/dist/img/img1.jpg" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                <p>Florence Douglas</p>
                <a href="#"><i class="fa fa-circle"></i> Online</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menu</li>
            <li> <a asp-area="" asp-controller="Home" asp-action="Index"> <i class="fa fa-home"></i> <span>Home Page</span></a> </li>
            <li> <a asp-area="Admin" asp-controller="Home" asp-action="Index"> <i class="fa fa-dashboard"></i> <span>Dashboard</span></a> </li>
            <li class="header dark-bg">Catalog</li>
            <li class="treeview">
                <a href="#"> <i class="fa fa-archive"></i> <span>Catalog</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu" style="display: none;">
                    <li><a asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="fa fa-angle-right"></i> Categories</a></li>
                    <li><a asp-area="Admin" asp-controller="Brand" asp-action="Index"><i class="fa fa-angle-right"></i> Brands</a></li>
                    <li><a asp-area="Admin" asp-controller="Product" asp-action="Index"><i class="fa fa-angle-right"></i> Products</a></li>
                    <li><a asp-area="Admin" asp-controller="ProductImage" asp-action="Index"><i class="fa fa-angle-right"></i> Product Images</a></li>
                    <li><a asp-area="Admin" asp-controller="ProductDetail" asp-action="Index"><i class="fa fa-angle-right"></i> Product Details</a></li>
                    <li><a asp-area="Admin" asp-controller="Feature" asp-action="Index"><i class="fa fa-angle-right"></i> Features</a></li>
                    <li><a asp-area="Admin" asp-controller="FeatureSlider" asp-action="Index"><i class="fa fa-angle-right"></i> Feature Sliders</a></li>
                    <li><a asp-area="Admin" asp-controller="SpecialOffer" asp-action="Index"><i class="fa fa-angle-right"></i> Special Offers</a></li>
                    <li><a asp-area="Admin" asp-controller="OfferDiscount" asp-action="Index"><i class="fa fa-angle-right"></i> Offer Discounts</a></li>
                    <li><a asp-area="Admin" asp-controller="Discount" asp-action="Index"><i class="fa fa-angle-right"></i> Discounts</a></li>
                    <li><a asp-area="Admin" asp-controller="Comment" asp-action="Index"><i class="fa fa-angle-right"></i> Comments</a></li>
                    <li><a asp-area="Admin" asp-controller="Contact" asp-action="Index"><i class="fa fa-angle-right"></i> Contacts</a></li>
                    <li><a asp-area="Admin" asp-controller="About" asp-action="Index"><i class="fa fa-angle-right"></i> About</a></li>
                </ul>
            </li>

            <li class="header dark-bg">Users & Orders</li>
            <li class="treeview">
                <a href="#"> <i class="fa fa-users"></i> <span>Users & Orders</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu" style="display: none;">
                    <li><a asp-area="Admin" asp-controller="User" asp-action="UserList"><i class="fa fa-angle-right"></i> User List</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> Order List</a></li>
                </ul>
            </li>

            <li class="header dark-bg">Store</li>
            <li class="treeview">
                <a href="#"> <i class="fa fa-shopping-bag"></i> <span>Store</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu" style="display: none;">
                    <li><a href="#"><i class="fa fa-angle-right"></i> Cash Register</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> Statistics</a></li>
                    <li><a asp-area="Admin" asp-controller="Cargo" asp-action="CargoCompanyList"><i class="fa fa-angle-right"></i> Cargo Companies</a></li>
                </ul>
            </li>

            <li class="header dark-bg">Communication & Settings</li>
            <li class="treeview">
                <a href="#"> <i class="fa fa-cogs"></i> <span>Communication & Settings</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu" style="display: none;">
                    <li><a asp-area="User" asp-controller="Message" asp-action="Inbox"><i class="fa fa-angle-right"></i> Messages</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> Settings</a></li>
                </ul>
            </li>
            <li> <a asp-area="" asp-controller="Login" asp-action="Logout"> <i class="fa fa-sign-out"></i> <span>Sign Out</span></a> </li>

        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>