@using MultiShop.WebUI.Dtos.CatalogDtos.OfferDiscountsDtos
@model CreateOfferDiscountDto

@{
    ViewData["Title"] = "CreateOfferDiscount";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>OfferDiscount Creation Page</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <label>Offer Discount Title</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Offer Discount SubTitle</label>
                        <input type="text" class="form-control" asp-for="SubTitle" />
                        <br />
                        <label>Offer Discount Image Url</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <label>Offer Discount Button Title</label>
                        <input type="text" class="form-control" asp-for="ButtonTitle" />
                        <br />
                        <button class="btn btn-success">Add Offer Discount</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
