<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("AdminLayoutHead")

<body class="sidebar-mini">
	<div class="wrapper">
		<!-- Main Header -->
		@await Component.InvokeAsync("AdminLayoutHeader")
		<!-- Left side column. contains the logo and sidebar -->
		@await Component.InvokeAsync("AdminLayoutSidebar")

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			@await Component.InvokeAsync("AdminLayoutPageHeader")

			<!-- Main content -->
			@RenderBody()
			<!-- content -->
		</div>
		<!-- content-wrapper -->
		<!-- Main Footer -->
		@await Component.InvokeAsync("AdminLayoutFooter")
	</div>
	<!-- wrapper -->
	<!-- jQuery -->
	@await Html.PartialAsync("_AdminScriptsPartial")
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>