@using MultiShop.WebUI.Dtos.CatalogDtos.ProductDetailDtos
@model ResultProductDetailDto
@if (Model != null && !string.IsNullOrEmpty(Model.Description))
{
    <div class="product-description">
        <h5>Description</h5>
        <p>@Model.Description</p>
    </div>
}
else
{
    <div class="product-description text-muted">
        <h5>Description</h5>
        <p>No description available.</p>
    </div>
}