@model UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Update Product</h4>

                <form asp-area="Admin" asp-controller="Product" asp-action="UpdateProduct" method="post">
                    <input type="hidden" asp-for="ProductId" />

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" class="form-control" asp-for="ProductName" />
                        <br />
                        <label>Product Price</label>
                        <input type="text" class="form-control" asp-for="Price" />
                        <br />
                        <label>Product Image</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <label>Product Categories</label>
                        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories, new { @style = "padding:0;", @class = "form-control" })
                        <br />
                        <label>Product Description</label>
                        <textarea class="form-control" asp-for="Description" rows="5"></textarea>
                        <br />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-warning">Update Product</button>
                        <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
