@using MultiShop.WebUI.Dtos.CatalogDtos.FeatureSliderDtos
@model UpdateFeatureSliderDto

@{
	ViewData["Title"] = "UpdateFeatureSlider";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content container-fluid">
	<div class="row">

		<div class="col-md-12">
			<div class="chart-box">
				<h4>Feature Slider Image Update Page</h4>
				<br />
				<div class="bs-example" data-example-id="bordered-table">

					<form method="post">
						<input type="hidden" asp-for="FeatureSliderId" />
						<label>Feature Slider Title</label>
						<input type="text" class="form-control" asp-for="Title" />
						<br />
						<label>Feature Slider Description</label>
						<input type="text" class="form-control" asp-for="Description" />
						<br />
						<label>Feature Slider Image Url</label>
						<input type="text" class="form-control" asp-for="ImageUrl" />
						<br />
						<div class="form-check">
							<input type="checkbox" class="form-check-input" asp-for="Status" />
							<label class="form-check-label" asp-for="Status">Active Status</label>
						</div>
						<br />
						<button class="btn btn-warning">Update Feature Slider</button>
					</form>

				</div>
			</div>
		</div>
	</div>
</section>
